@import url(./colors.css);

body,
html {
  height: 100%;
  background-color: black;
}
@media (max-height: 100vh) {
  html,
  body {
    height: 100vh;
    background-color: black;
  }
}

@media (min-height: 100vh) {
  html,
  body {
    height: 100%;
    background-color: black;
  }
}

.ff-averta {
  font-family: Averta, sans-serif;
}

.bg-black {
  background-color: black !important;
}

.btn-primary {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  font-weight: bold;
  color: black;
}

.btn-outline-primary {
  border-color: var(--orange) !important;
  color: var(--orange) !important;
  font-weight: bold !important;
}

.btn-outline-primary:hover {
  border-color: var(--orange) !important;
  background-color: var(--orange) !important;
  color: black !important;
}

.btn-outline-secondary {
  border-color: var(--powder-blue) !important;
  color: var(--powder-blue) !important;
  font-weight: bold !important;
}

.btn-outline-secondary:hover {
  border-color: var(--powder-blue) !important;
  background-color: var(--powder-blue) !important;
  color: black !important;
}

.navbar-brand:hover {
  color: var(--orange) !important;
}

.border-bottom {
  border-color: var(--platinum) !important;
}

.text-oxford-blue {
  color: var(--oxford-blue) !important;
}

.text-platinum {
  color: var(--platinum) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.react-icons {
  color: var(--oxford-blue);
  font-size: 1.5rem;
  font-weight: normal;
}


