@import url(./colors.css);

.ff-averta {
  font-family: Averta, sans-serif;
}

.bg-black {
  background-color: black !important;
}

.btn-primary {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  font-weight: bold;
  color: black;
}

.navbar-brand:hover {
  color: var(--orange) !important;
}

.border-bottom {
  border-color: var(--platinum) !important;
}

.text-oxford-blue {
  color: var(--oxford-blue) !important;
}